src/main/mule/api/gocs-inventory-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<apikit:config name="gocs-inventory-papi-config"
		api="resource::2c71d3d8-324e-48ff-adca-ccaa17313120:gocs-inventory-papi:1.0.0:raml:zip:gocs-inventory-papi.raml"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<!-- <api-gateway:autodiscovery apiId="20746516" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="c548fd9b-6f3a-470b-9a5c-b9d1c87bed09" flowRef="gocs-inventory-papi-main" /> -->	
	<configuration-properties doc:name="Configuration properties" doc:id="a70d0c56-bfe4-45b7-8a43-5462bbdcfa0f" file="inventory-config.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="19bc314d-73b5-4ed9-9351-870ab08150ac" file="secure-properties.yaml" key="local-dev-only-123}" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="309b0f97-8815-43e4-947b-492032338dc6" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="0a33ca15-69d6-45af-b56d-c99631027a81" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Nolanathan2024!!!" database="inventory_db"/>
	</db:config>
	<flow name="gocs-inventory-papi-main">
		<http:listener
			path="/api/*" config-ref="HTTP_Listener_config">
		</http:listener>
		<apikit:router config-ref="gocs-inventory-papi-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<set-variable value="400" doc:name="Set Variable" doc:id="362b5f27-f8f7-49d1-8182-bffcd97dbd4f" variableName="httpStatus"/>
				<ee:transform doc:name="Transform Message" doc:id="ef3f332d-2cd8-44ff-80dc-d7302c25ed52" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "INV-400",
  message: error.description default "Bad request",
  timestamp: now() as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="gocs-inventory-papi-console">
		<http:listener
			path="/console/*" config-ref="HTTP_Listener_config">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="gocs-inventory-papi-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get:\health:gocs-inventory-papi-config">
		<flow-ref doc:name="Flow Reference"
			doc:id="3b96fbbe-ebdc-4f4f-8356-29d3ae807056" name="health-impl" />
	</flow>
	<flow name="get:\inventory\(itemId):gocs-inventory-papi-config">
		<set-variable value="#[attributes.uriParams.itemId]" doc:name="Set Variable" doc:id="dcd9f038-38a2-45b0-aed1-26e9214a0b6d" variableName="itemId"/>
		<flow-ref doc:name="Flow Reference" doc:id="dac0211a-e39e-470a-b11e-9619044075a3" name="inventory-getbyid-flow"/>
		<ee:transform doc:name="Transform Message" doc:id="6c820b23-f4e6-4020-9889-f949abcbedc1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0] default {
  message: "Inventory item not found",
  itemId: vars.itemId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="post:\inventory\sync:gocs-inventory-papi-config">
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  correlationId: correlationId,
  status: "ACCEPTED",
  message: "Inventory sync started",
  timestamp: now() as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9b11b341-acf8-40dc-967b-1b8e515829ae" message="Correlation ID: #[correlationId]"/>
	</flow>
</mule>
