src/main/mule/flows/file-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="304465ae-8f73-44fe-9eed-02e146873edb" />
	<flow name="file-integrationFlow" doc:id="60272488-cb52-4eff-a7d7-e20e7e9baf9f" >
		<file:listener doc:name="On New or Updated File" doc:id="0042643a-ec2a-491f-8583-b364ea4169c2" config-ref="File_Config" directory="/Users/w3117643/AnypointStudio/studio-workspace/gocs-inventory-papi-2/Regional-Updates">
			<scheduling-strategy >
				<fixed-frequency frequency="5000"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="cb7b95e5-1c95-43fd-b84b-77e90232a1ff" message="#['File received: ' ++ attributes.fileName ++ ' path=' ++ attributes.path]"/>
		<set-variable value="#[attributes.path]" doc:name="Set Variable" doc:id="86b2e5af-a108-40c0-b0c7-9276c805f6a0" variableName="sourcePath"/>
		<file:read doc:name="Read" doc:id="cfd6f4eb-c415-42ba-bd5b-3abae2be348b" config-ref="File_Config" path="#[vars.sourcePath]"/>
		<ee:transform doc:name="Transform Message" doc:id="4805d968-7489-4f03-800f-a108c830c52c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
var rows =
  if (payload is Array)
    payload
  else
    read(payload, "application/csv")
---
rows map (row) -> {
  ItemId: (row.ItemId as Number),
  LocationId: (row.LocationId default null),
  WarehouseStock: (row.WarehouseStock as Number) default null,
  RegionalStock: (row.RegionalStock as Number) default null,
  TotalInventory: (row.TotalInventory as Number) default null,

  LastUpdatedAt:
    if ((row.LastUpdatedAt default null) != null)
      ((row.LastUpdatedAt as String) replace "T" with " " replace "Z" with "")
    else
      null
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="811bf0f3-6eae-444f-b578-d7f6c02b82cf" message="#['Rows=' ++ (sizeOf(payload) as String)]" />
		<batch:job jobName="regional-inventory-batch" doc:id="f568e0c6-fd0a-44e9-89ff-1fbcf766e98a" >
			<batch:process-records >
				<batch:step name="process-regional-records" doc:id="cb0f1275-404c-4776-8545-9eece2045b5e" >
					<logger level="INFO" doc:name="Logger" doc:id="d310cd58-c3a9-4bc6-b5df-b7eb159bad4c" message="#['Processing Item=' ++ (payload.ItemId as String)&#10; ++ ' Location=' ++ (payload.LocationId as String)&#10; ++ ' Stock=' ++ (payload.RegionalStock as String)&#10; ++ ' Updated=' ++ (payload.LastUpdatedAt as String)]"/>
					<set-variable value="#[payload]" doc:name="Set Variable" doc:id="7309c4ac-73c6-4d9e-bac9-4e118d193868" variableName="sfRow"/>
					<db:insert doc:name="Insert" doc:id="4538f474-99c0-4795-b7a5-987828845569" config-ref="Database_Config">
						<db:sql ><![CDATA[INSERT INTO inventory_db.warehouse_stock
  (item_id, location_id, regional_stock, last_updated_at)
VALUES
  (:ItemId, :LocationId, :RegionalStock, :LastUpdatedAt)
ON DUPLICATE KEY UPDATE
  regional_stock = VALUES(regional_stock),
  last_updated_at = VALUES(last_updated_at);]]></db:sql>
						<db:input-parameters ><![CDATA[#[{
  ItemId: vars.sfRow.ItemId,
  LocationId: vars.sfRow.LocationId,
  RegionalStock: vars.sfRow.RegionalStock,
  LastUpdatedAt: vars.sfRow.LastUpdatedAt
}]]]></db:input-parameters>
					</db:insert>
					<choice doc:name="Choice" doc:id="f9e717c7-4f66-47da-b8b8-34ca8f2c3d14" >
						<when expression="#[vars.sfRow.TotalInventory &lt; 10]">
							<ee:transform doc:name="Transform Message" doc:id="7df5d24d-71fd-4a55-9319-22c6989531ca" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  itemId: vars.sfRow.ItemId,
  stockLevel: (vars.sfRow.TotalInventory default vars.sfRow.RegionalStock default 0) as Number,
  timestamp: (now() as String)
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<jms:publish doc:name="Publish" doc:id="165af42e-ad8b-45c9-96f2-37c194ed4964" config-ref="JMS_Config" destination="procurement.alert.queue"/>
							<salesforce:upsert objectType="Inventory__c" externalIdFieldName="ItemId__c" doc:name="Upsert" doc:id="c71eb378-88b8-4416-83db-9647d9d991cf" config-ref="Salesforce_Config">
								<salesforce:records ><![CDATA[#[vars.sfRow]]]></salesforce:records>
							</salesforce:upsert>
						</when>
						<otherwise >
							<salesforce:upsert objectType="Inventory__c" externalIdFieldName="ItemId__c" doc:name="Upsert" doc:id="6f4c3b51-fc13-47d2-87ec-9a17e633e17b" config-ref="Salesforce_Config">
								<salesforce:records ><![CDATA[#[vars.sfRow]]]></salesforce:records>
							</salesforce:upsert>
						</otherwise>
					</choice>
					<set-payload value="#[vars.sfRow]" doc:name="Set Payload" doc:id="0ccb38a5-0b97-4033-8c58-4439624cc3b9" />
					<salesforce:upsert externalIdFieldName="ItemId__c" doc:id="5b3ae39d-cb7a-4d6e-97f5-d6949784f5e3" objectType="Inventory__c" config-ref="Salesforce_Config"/>
				</batch:step>
			</batch:process-records>
		</batch:job>
		<logger level="INFO" doc:name="Logger" doc:id="365c8308-a218-4a6a-a81c-71a43edd9523" message="'=== FILE FLOW HIT BEFORE MOVE ==='" />
		<file:move doc:name="Move" doc:id="775e83e0-4bda-429d-81f3-c9852dc30709" config-ref="File_Config" sourcePath='#[vars.sourcePath]' targetPath="/Users/w3117643/AnypointStudio/studio-workspace/gocs-inventory-papi-2/Regional-Processed"/>
	</flow>
</mule>
