src/main/mule/flows/inventory-sync-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
      http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="inventory-getbyid-flow" doc:id="f55723f4-a418-4fa9-acac-b08e16015533">
      <db:select doc:name="Select" config-ref="Database_Config">
       <db:sql><![CDATA[
      SELECT *
      FROM inventory
      WHERE item_id = :itemId
      ]]></db:sql>

       <db:input-parameters><![CDATA[#[{ itemId: (vars.itemId as Number) }]]]></db:input-parameters>
     </db:select>
    </flow>

</mule>